[client]
remote_addr = "NF_HOST:443"
default_token = "323c17cc8a3e8cdecc1f2d3702a46e7fd580973463699298ae7623b29f08e739"
heartbeat_timeout = 40
retry_interval = 5

[client.transport]
type = "websocket"

[client.transport.websocket]
tls = true

[client.transport.tls]
hostname = "NF_HOST"
trusted_root = "/etc/ssl/certs/ca-certificates.crt"

[client.services.web]
type = "tcp"
token = "323c17cc8a3e8cdecc1f2d3702a46e7fd580973463699298ae7623b29f08e739"
local_addr = "127.0.0.1:80"
nodelay = true